html,body{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	/*background: linear-gradient(to left, #FF416C, #FF4B2B) no-repeat;*/
	background: white;
	width: 100%;
	height: 100%;
}
#toopbar{
    width: 100%;
    height: 140px;
    background-color: gray;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
    
}
#ledp{
    height: 120px;
    margin: 10px;
    margin-right: 120px;
    float: right;
}

.calculatrice{
	width: 295px;
	height: 420px;
	padding: 10px 20px;
	border: 5px solid black;
	border-radius: 4px;
	position: relative;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.screen{
	background: none;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-top: 10px;
	border: 5px solid black;
	border-radius: 4px;
	color: black;
	width: 100%;
	height: 50px;
	font-size: 20px;
}
.bn{
	outline: none;
	width:55px;
    height:55px;
    margin: 2px;
    padding: 9px;
    background: none;
	border: 5px solid black;
	border-radius: 4px;
	color: black;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}
.bn:hover{
	transform: scale(1.08);
	transition: .5s;
	background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
	color: #ffffff;
}
#footbar{
    
    height: 120px;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
    padding: 10px;
    
    
}